<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row bg-light" >
  
  <div class="form-group col-md-6 offset-md-3">
    Cliente:
    <%= form.collection_select :client_id , Client.all, :id, :name, {prompt: true}, {class: 'form-control'} %>
  </div>

<div class="form-group row bg-light " >

  <div class="form-group col-md-12">

  <h3 class="text-center"> Para longe </h3>
  </div>
  <div class="col-md-6 pull-right">
    <h4 class='text-center'>Lado Direito</h4>
    <div class="form-group" >
    <div class="form-group row d-flex justify-content-around ">

    <div class="col-sm-3">
      <%= form.label :longe_dir_adicao, 'Adição:' %>
      <%= form.text_field :longe_dir_adicao, id: :recipe_longe_dir_adicao, class: 'form-control' %>
    </div>
    <div class="col-sm-3">
     <%= form.label :longe_dir_esferico, 'Esferico:' %>
      <%= form.text_field :longe_dir_esferico, id: :recipe_longe_dir_esferico, class: 'form-control' %>
    </div>

  
  </div>
  <div class="form-group row d-flex justify-content-around">


  <div class="col-sm-3">
      <%= form.label :longe_dir_eixo, 'Eixo:' %>
      <%= form.text_field :longe_dir_eixo, id: :recipe_longe_dir_eixo, class: 'form-control' %>
  </div>

    <div class="col-sm-3">
      <%= form.label :longe_dir_cilindrico, 'Cilindrico:' %>
      <%= form.text_field :longe_dir_cilindrico, id: :recipe_longe_dir_cilindrico, class: 'form-control' %>
    </div>
  
  </div>


  </div> <!-- FIM DIREITO -->
  
  </div>
  
  <div class="col-md-6 pull-left ">
    <h4 class='text-center'>Lado Esquerdo</h4>
    <div class="form-group" >
    <div class="form-group row d-flex justify-content-around">
    <div class="col-sm-3">
      <%= form.label :longe_esq_adicao , 'Adição:' %>
      <%= form.text_field :longe_esq_adicao, id: :recipe_longe_dir_adicao, class: 'form-control' %>
    </div>

    <div class="col-sm-3">
     <%= form.label :longe_esq_esferico , 'Esferico:' %>
      <%= form.text_field :longe_esq_esferico, id: :recipe_longe_dir_esferico, class: 'form-control' %>
    </div>


  
  </div>
  <div class="form-group row d-flex justify-content-around">

    <div class="col-sm-3">
      <%= form.label :longe_esq_eixo , 'Eixo:' %>
      <%= form.text_field :longe_esq_eixo, id: :recipe_longe_dir_eixo, class: 'form-control' %>
    </div>
    <div class="col-sm-3">
      <%= form.label :longe_esq_cilindrico , 'Cilindrico:' %>
      <%= form.text_field :longe_esq_cilindrico, id: :recipe_longe_dir_cilindrico, class: 'form-control' %>
    </div>


  </div>
  
  </div>
  
  </div> <!-- FIM ESQUERDO -->
  <div class="field  col-md-2 offset-md-5">
    <%= form.label :longe_dp, 'DP' %>
    <%= form.text_field :longe_dp, id: :recipe_longe_dp, class: 'form-control' %>
  </div>
  </br>
  </div> <!-- fim longe -->
</div>

<div class="form-group" >
</br>
  <div class="form-group col-md-12">

  <h3 class="text-center"> Para Perto </h3>
  </div>
  <div class="col-md-6 pull-right rounded">
    <h4 class='text-center'>Lado Direito</h4>
    <div class="form-group" >
    <div class="form-group row d-flex justify-content-around">
    <div class="col-sm-3">
    <%= form.label :perto_dir_adicao, 'Adição:' %>
    <%= form.text_field :perto_dir_adicao, id: :recipe_longe_dir_adicao, class: 'form-control' %>
    </div>

    <div class="col-sm-3">
     <%= form.label :perto_dir_esferico, 'Esferico:' %>
      <%= form.text_field :perto_dir_esferico, id: :recipe_longe_dir_esferico, class: 'form-control' %>
    </div>


  
  </div>
  <div class="form-group row d-flex justify-content-around">

    <div class="col-sm-3">
    <%= form.label :perto_dir_eixo, 'Eixo:' %>
    <%= form.text_field :perto_dir_eixo, id: :recipe_longe_dir_eixo, class: 'form-control' %>
    </div>
    <div class="col-sm-3">
    <%= form.label :perto_dir_cilindrico, 'Cilindrico:' %>
    <%= form.text_field :perto_dir_cilindrico, id: :recipe_longe_dir_cilindrico, class: 'form-control' %>
    </div>
  </div>
  
  </div>
  
  </div>

  <div class="col-md-6 pull-right rounded">
    <h4 class='text-center'>Lado Esquerdo</h4>
    <div class="form-group" >
    <div class="form-group row d-flex justify-content-around">

    <div class="col-sm-3">
    <%= form.label :perto_esq_adicao, 'Adição:' %>
    <%= form.text_field :perto_esq_adicao, id: :recipe_longe_dir_adicao, class: 'form-control' %>
    </div>

    <div class="col-sm-3">
    <%= form.label :perto_esq_esferico, 'Esferico:' %>
      <%= form.text_field :perto_esq_esferico, id: :recipe_longe_dir_esferico, class: 'form-control' %>
    </div>


  </div>
  <div class="form-group row d-flex justify-content-around ">


    <div class="col-sm-3">
    <%= form.label :perto_esq_eixo, 'Eixo:' %>
      <%= form.text_field :perto_esq_eixo, id: :recipe_longe_dir_eixo, class: 'form-control' %>
    </div>
    <div class="col-sm-3">
    <%= form.label :perto_esq_cilindrico, 'Cilindrico:' %>
      <%= form.text_field :perto_esq_cilindrico, id: :recipe_longe_dir_cilindrico, class: 'form-control' %>
    </div>
  
  </div>
  
  </div>
  
  </div>
  <div class="field  col-md-2 offset-md-5">
  <%= form.label :perto_dp, 'DP:' %>

  <%= form.text_field :perto_dp, id: :recipe_longe_dp, class: 'form-control' %>
    
  </div>
  </br>
  </div> <!-- fim perto -->

<div class="form-group col-md-12 bg-light">

  <div class="form-group row ">

  <div class='col-md-2'>
  <%= form.label :dp_ponte, 'DP Ponte:' %>
  <%= form.text_field :dp_ponte,   class: 'form-control' %>
  </div>

  <div class="col-md-2">
  <%= form.label :diagonal_maior , 'Diagonal Maior:' %>
  <%= form.text_field :diagonal_maior,   class: 'form-control' %>
  </div>

</div>

<div class="dropdown-divider"></div>

<h5 class='text-center'> Médico:</h5>
<div class="form-group row">
  <div class="col-md-3">
    <%= form.label :doctor_crm , 'CRM:' %>
    <%= form.text_field :doctor_crm , {class: 'form-control'} %>
  </div>
  
  <div class="col-md-6">
    <%= form.label :doctor_name , 'Nome:' %>
    <%= form.text_field :doctor_name , {class: 'form-control'} %>
  </div>
  
  <div class="col-md-3">
    <%= form.label :doctor_phone , 'Telefone:' %>
    <%= form.text_field :doctor_phone , {class: 'form-control'} %>
  </div>
  </div>
 
<div class="dropdown-divider"></div>

<div class="form-group row">

  <div class="field col-md-4 pull-left">
    <%= form.label :product_id , 'Item:' %>
    <%= form.collection_select :product_id , Product.all, :id, :name, {prompt: true}, {class: 'form-control'} %>
  </div>

  <div class="field col-md-4 pull-right">
    <%= form.label :material , 'Material:' %>
    <%= form.text_field :material, id: :recipe_material , class: 'form-control'%>
  </div>

  </div>

 <div class="form-group row">
 
  <div class="field col-md-6">
  <%= form.label :user_id, 'Vendedor:' %>
  <% if @recipe.try(:user_id).nil? %>
  <%= text_field_tag :user_id , current_user.email, { id: :recipe_user_name , class: 'form-control', disabled: true}   %>
  <%else%>
  <%= form.text_field :user_id, {value: User.find(@recipe.user_id).email , id: :recipe_user_name , class: 'form-control', disabled: true} %>
  <%end%>
  </div>


  <div class="field col-md-3">
    Valor
    <%= form.text_field :valor, id: :recipe_valor, class: 'form-control' %>
  </div>

  <div class="field col-md-3">
    Sinal:
    <%= form.text_field :sinal, id: :recipe_sinal , class: 'form-control'%>
  </div>



</div>

 <div class="form-group row">


  <div class="field col-md-6">
  Observação:
  <%= text_area_tag 'Obs', {}, {class: 'form-control' }%>
  </div>

  
  <div class="field col-md-3">
    Entrega:
    <%= form.text_field :entrega, id: :recipe_entrega , class: 'form-control'%>
  </div>

  <div class="field col-md-3">
    Tipo:
    <%= form.select :tipo, options_for_select([["10"],["15"],["20"]]), {},{ class: 'form-control'} %>
  </div>
</div>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>



<% end %>
