<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Relatórios</a>
  </li>
  <li class="breadcrumb-item active">Vendas por usuário</li>
</ol>

<table>
  <thead>
    <tr>
      <th>Data Inicial</th>
      <th>Data Final</th>
      <th>Arquivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @report_orders_by_users.each do |report_orders_by_user| %>
      <tr>
        <td><%= report_orders_by_user.date_start %></td>
        <td><%= report_orders_by_user.date_end %></td>
        <td><%= report_orders_by_user.file_path %></td>
        <td><%= link_to 'Show', report_orders_by_user %></td>
        <td><%= link_to 'Edit', edit_report_orders_by_user_path(report_orders_by_user) %></td>
        <td><%= link_to 'Destroy', report_orders_by_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Relatório', new_report_orders_by_user_path , class: 'btn btn-primary' %>
