<table class="table">
                    <tbody>
                      <tr>
                        <td>CPF:</td>
                        <td><%=@client.cpf_cnpj %></td>
                      </tr>
                      <tr>
                        <td>RG:</td>
                        <td><%=@client.rg %></td>
                      </tr>
                      <tr>
                        <td>Data de Nascimento:</td>
                        <td><%=@client.birth_date %></td>
                      </tr>
                         <tr>
                        <td>Sexo:</td>
                        <td><%=@client.sex %></td>
                      </tr>
                        <tr>
                          <td>CEP:</td>
                          <td><%=@client.postal %></td>
                        </tr>
                          <tr>
                          <td>Logradouro:</td>
                          <td><%=@client.street %></td>
                          </tr>
                          <tr>
                          <td>numero:</td>
                          <td><%=@client.addr_number %></td> 
                          </tr>
                          <tr>
                          <td>complemento:</td>
                          <td><%=@client.street_opt %></td>                                                     
                          </tr>
                          <tr>
                          <td>Bairro:</td>
                          <td><%=@client.district %></td>
                          </tr>
                          <tr>
                          <td>Cidade:</td>
                          <td><%=@client.city %></td>                                                    
                          </tr>
                      <tr>
                        <td>Email:</td>
                        <td><%=@client.email %></td>
                      </tr>
                      <tr>
                        <td>Telefone:</td>
                          <td><%=@client.phone1 %></td>
                      </tr>
                        <tr>
                        <td>Celular:</td>
                          <td><%=@client.phone2 %></td>
                      </tr>
                      <tr>
                        <td>Obs:</td>
                        <td><%=@client.obs%></td>
                      </tr>
                     
                    </tbody>
                  </table>
