<table class="table">
                <tbody>
                <tr>
                    <td>Nome:</td>
                    <td> <%=order.client.name %></td>
                    </tr>
                  <tr>
                    <td>CPF:</td>
                    <td><%=order.client.cpf_cnpj %></td>
                  </tr>
                    <td>Email:</td>
                    <td><%=order.client.email %></td>
                  </tr>
                  <tr>
                    <td>Telefone:</td>
                      <td><%=order.client.phone1 %></td>
                  </tr>
                    <tr>
                    <td>Celular:</td>
                      <td><%=order.client.phone2 %></td>
                  </tr>
                 
                </tbody>
              

</table>
<%= link_to  'Editar', edit_client_path(order.client) %>