<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="review_order" class='col-sm-3 pull-right'>

    <%= render 'review_order', order_items: order.order_items, order: order %>
  <div id="status">
  <%= form.label :order_status_id , 'Status:' %>
  <%= form.text_field :order_status_id, {value: order.order_status.name , class: 'form-control', disabled: true }   %>
  </div>
  

</div>

  <div class="field col-sm-3 pull-right  ">
  <%= form.label :user_id, 'Vendedor:' %>
  <%= form.text_field :user_id , { value: @order.user.username, id: :order_user_name , class: 'form-control', disabled: true}   %>
  </div>
<div class="col-sm-9 ">
<div class="card w-100" id="clients">
  <div class="card-header">
      <h5>Cliente</h5>
  </div>
  <div class="card-body" >
  <div class="form-group row" >
  <%= form.collection_select :client_id, Client.all, :id, :name, {prompt: true}, {class: 'form-control col-sm-9 '} %>
  <%= form.submit 'Selecionar Cliente', class: 'btn btn-info' %>
  </div>
  <%if  order.try(:client_id) %>
    <% if order.client.name? %>
    <%= render 'client_fields' , order: order%>
    <%end%>
  <%else%>

  <%end%>
</div>
</div>
</div>


<br>




<div class="col-sm-9">
<div class="card" >
  <div class="card-header">
      <h5>Pagamentos     
      <%= link_to_add_association 'adicionar pagamento', form, :payments , partial: 'payment_fields' , class: 'btn btn-info pull-right', data: {
      "association-insertion-node" => '#payments' , "association-insertion-method" => :append
      } %></h5>
  </div>
  <div id="payments" class="card-body " >
    <%= form.fields_for :payments do |payment| %>
    <%=  render 'payment_fields', f: payment %>
    <%end%>
  </div>
</div>
</div>

<br>

<div class="row">
  <div class="actions">

    <%= form.submit 'Atualizar Pedido', class: 'btn btn-primary pull-right  '  %>

  </div>
</div>

<% end %>




