<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field col-sm-3 pull-right  ">
  <%= form.label :user_id, 'Vendedor:' %>
  <% if @order.try(:user_id).nil? %>
  <%= text_field_tag :user_id , current_user.username, { id: :order_user_name , class: 'form-control', disabled: true}   %>
  <%else%>
  <%= form.text_field :user_id, {value: User.find(@order.user_id).username , id: :order_user_name , class: 'form-control', disabled: true} %>
  <%end%>
  </div>


<div class="col-sm-12 ">
<div class="card w-100" id="clients">
  <div class="card-header">
      <h5>Cliente</h5>
  </div>
  <div class="card-body" >
  <div class="form-group row" >
  <%= form.collection_select :client_id, Client.all, :id, :name, {prompt: true}, {class: 'form-control col-sm-9 '} %>
  <%= form.submit 'Selecionar Cliente', class: 'btn btn-secondary' %>
  </div>
  <%if  order.try(:client_id) %>
    <% if order.client.name? %>
    <%= render 'client_fields' , order: order%>
    <%end%>
  <%else%>

  <%end%>
</div>
</div>
</div>
<br>
<div id="review_order" class='col-sm-3 pull-right'>

    <%= render 'review_order', order_items: order.order_items, order: order %>
</div>



<div class="col-sm-6">

<div class="card" >
  <div class="card-header">
      <h5>Pagamentos</h5>
  </div>
  <div id="payments" class="card-body " >
    <%= form.fields_for :payments do |payment| %>
    <%=  render 'payment_fields', f: payment %>
    <%end%>
  </div>
</div>
</div>

<br>

<div class="row">
  <div class="actions">
    <%= link_to_add_association 'adicionar pagamento', form, :payments , partial: 'payment_fields' , class: 'btn btn-info', data: {
      "association-insertion-node" => '#payments' , "association-insertion-method" => :append
      } %>
    <%= form.submit 'Atualizar Pedido', class: 'btn btn-primary pull-right  '  %>

  </div>
</div>

<% end %>




