<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Client Fields -->
  <div class="form group" >

  <div class="form-group row" >
  
  <div class="col-sm-4">
    <%= label_tag 'Nome'%>

    <%= text_field_tag 'nome do cliente' , {} , class: 'form-control' %>    
    
  </div>


  </div>



  </div>
  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :order_user_id %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.number_field :client_id, id: :order_client_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id, id: :order_product_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :order_status %>
  </div>

  <div class="field">
    <%= form.label :sub_total %>
    <%= form.text_field :sub_total, id: :order_sub_total %>
  </div>

  <div class="field">
    <%= form.label :price_total %>
    <%= form.text_field :price_total, id: :order_price_total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



<div class="row cart-body">
    <form class="form-horizontal" method="post" action="">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
        <!--REVIEW ORDER-->


        <!--REVIEW ORDER END-->
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
        <!--SHIPPING METHOD-->


        <!--SHIPPING METHOD END-->

        <!--CREDIT CART PAYMENT-->

        <!--CREDIT CART PAYMENT END-->
    </div>
    
    </form>
</div>
<div class="row cart-footer">

</div>