
   <div class="payment_row"> 
    <li class="list-inline-item">
    <%= f.label :payment_type, 'Tipo de Pagamento:' %>
    <%= f.select :payment_type, options_for_select(['Dinheiro','Cheque']) ,{} , {class: 'form-control'}  %>
    </li >
    <li class="list-inline-item">    <%= f.label :price, 'Valor' %>
    <%= f.text_field :price ,id: :payment_price , class: 'form-control text-center col-sm-4'%>
    </li>    
    <li class="list-inline-item">    <%= f.label :status, 'Status' %>
    <%= f.select :status, options_for_select(['Pago','Aguardando Pagamento'])  ,{} , {class: 'form-control'} %>
    </li >
    <li class="list-inline-item">
      <%= link_to_remove_association('', f, 
      { wrapper_class: 'payment_row', class: 'btn btn-danger fa fa-times' }) %>
    </li>
    </div>

  
