
<div class="card" >
  <div class="card-header">
    <h5>Resumo do pedido</h5>
    <%= link_to 'editar', cart_path, class: 'pull-right' %>
  </div>      
<div class="card-body">
  <ul class="list-group list-group-flush">
  <% order_items.each do |order_item| %>    
    <li class="list-group-item"><%= order_item.product.name %> 
    <br> Quantidade:<span><%=order_item.quantity.to_i%> </span>
    <br>  <%= number_to_currency order_item.total_price %> </li>
  <%end%>
  </ul>
  <ul class="list-group list-group-flush "> 

        <li class="list-group-item text-right"> <h6>Total: <%= number_to_currency order.sub_total%>  </h6>    </li>
  </ul>
    <ul class="list-group list-group-flush "> 
    <% if order.payments.exists? %>
        <li class="list-group-item text-right"> <h6>Pagamento: <%= number_to_currency order.payments.sum(:price)%>  </h6>    </li>
    </ul>
    <ul class="list-group list-group-flush "> 
        <li class="list-group-item text-right"> <h6>Saldo: <%= number_to_currency order.price_total %>  </h6>    </li>
    </ul>
    <%end%>
</div>


</div>