 <div class="form-row">
 <div class="col-sm-3">
    <%= f.label :name , 'Nome' %>
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: true}, {class: 'form-control'} %>

    <%= f.text_field :name, id: :product_name, class: 'form-control' %>
  </div>


     <div class="col-sm-2">
     
    <%= f.label 'Categoria' %>
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: true}, {class: 'form-control'} %>
    </div>
    

  <div class="col-sm-1">
    <%= f.label :buy_price, 'R$ Compra:' %>
    <%= f.text_field :buy_price, id: :product_buy_price, class: 'form-control' %>
  </div>

  <div class="col-sm-1">
    <%= f.label :sell_price , 'R$ Venda:'%>
    <%= f.text_field :sell_price, id: :product_sell_price , class: 'form-control'%>
  </div> 
    
  <div class="col-sm-1">
    <%= f.label :amount , 'Quantidade:' %>
    <%= f.number_field :amount, id: :product_amount, class: 'form-control' %>
  </div>


  <div class="col-sm-2">
    <%= f.label :status, 'Status:' %>
    <%= f.select :status, ['ATIVO','INATIVO'],{}, class: 'form-control' %>

  </div>

</div>
