
<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Estoque</a>
  </li>
  <li class="breadcrumb-item active">Entradas de Estoque</li>
</ol>

<div class="card mb-3">
  <div class="card-body">
  <div class="table-responsive">
   <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
    <thead class="text-center">
    <tr>
      <th>Company</th>
      <th>Supplier</th>
      <th>Data nf</th>
      <th>Data entrada</th>
      <th>Nf</th>
      <th>Valor</th>
      <th>#</th>
    </tr>
  </thead>

  <tbody>
    <% @entradas.each do |entrada| %>
      <tr>
        <td><%= entrada.company_id %></td>
        <td><%= entrada.supplier_id %></td>
        <td><%= entrada.data_nf %></td>
        <td><%= entrada.data_entrada %></td>
        <td><%= entrada.nf %></td>
        <td><%= entrada.valor %></td>
        <td class='text-center  '> <%= link_to '', entrada , class:'btn  btn-warning fa fa-eye' %>    </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
<br>

<%= link_to 'New Entrada', new_entrada_path %>
