<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @entrada.company_id %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @entrada.supplier_id %>
</p>

<p>
  <strong>Data nf:</strong>
  <%= @entrada.data_nf %>
</p>

<p>
  <strong>Data entrada:</strong>
  <%= @entrada.data_entrada %>
</p>

<p>
  <strong>Nf:</strong>
  <%= @entrada.nf %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @entrada.valor %>
</p>

<%= link_to 'Editar', edit_entrada_path(@entrada) %> |
<%= link_to 'Voltar', entradas_path %>
