<tr>
  <td data-th="Product">
    <div class="row">
      <div class="col-sm-10">
        <h4 class="nomargin"><%= product.name %></h4>
      </div>
    </div>
  </td>
   <%= form_for order_item, remote: true do |f| %>
  <td data-th="Preço"><%= number_to_currency order_item.unit_price %></td>
  <td data-th="Quantidade">
     <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
     <%= f.hidden_field :product_id, value: product.id %>
  </td>
  <td data-th="Subtotal" class="text-center"><%= number_to_currency order_item.total_price %></td>
  <td class="actions" data-th="">
    <%= button_tag type: 'submit', class: "btn btn-info btn-sm" do %>
        <i class="fa fa-refresh" aria-hidden="true"></i>
    <% end %>
    <%= link_to "", order_item, { data: { confirm: "Você tem certeza ? Isto vai remover o produto '#{order_item.product.name}' do carrinho" }, method: :delete, remote: true, class: "btn btn-danger btn-sm fa fa-trash-o" } %>
  </td>
  <%end%>
</tr>