
<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    S
  <% end %>

  <div class="form-group row" >
  <div class="col-sm-4">
    <%= form.label :name , 'Nome:' %>
    <%= form.text_field :name, id: :category_name, class: 'form-control' %>
  </div>

  <div class="col-sm-4">
    <%= form.label :description, 'Descrição:' %>
    <%= form.text_field :description, id: :category_description, class: 'form-control' %>
  </div>

  </div>

  </br>
  <%= form.submit 'Salvar', class: 'btn btn-primary' %>
  

  <% end %>
