<table class="table">

<tr>
  <td>Person:</td>
  <td><%= @product.supplier_id %></td>
</tr>

<tr>
  <td>Cod prod:</td>
 <td> <%= @product.cod_prod %></td>
</tr>

<tr>
  <td>Name:</td>
  <td><%= @product.name %></td>
</tr>

<tr>
  <td>Category:</td>
  <td><%= @product.category_id %></td>
</tr>

<tr>
  <td>Buy price:</td>
 <td> <%= @product.buy_price %></td>
</tr>

<tr>
  <td>Sell price:</td>
  <td><%= @product.sell_price %></td>
</tr>

<tr>
  <td>Amount:</td>
 <td> <%= @product.amount %></td>
</tr>

<tr>
  <td>Status:</td>
  <td><%= @product.status %></td>
</tr>

</table>