<table class="table">

<tr>
  <td>Company:</td>
  <td><%= @supplier.company_id %></td>
</tr>

<tr>
  <td>Cpf cnpj:</td>
  <td><%= @supplier.cpf_cnpj %></td>
</tr>

<tr>
  <td>Name:</td>
  <td><%= @supplier.name %></td>
</tr>

<tr>
  <td>End:</td>
  <td><%= @supplier.end %></td>
</tr>

<tr>
  <td>Phone:</td>
  <td><%= @supplier.phone %></td>
</tr>

<tr>
  <td>Email:</td>
  <td><%= @supplier.email %></td>
</tr>

<tr>
  <td>Status:</td>
  <td><%= @supplier.status %></td>
</tr>
</table>